.logo {
   display: flex;
   width: 250px;
   height: 100%;
   padding: 0 20px;
   align-items: center;
}
.user {
   display: flex;
   height: 100%;
   padding: 0 20px;
   align-items: center;
}
.user:hover {
   box-shadow: #282c34 0px -4px 0px inset;
   transition: all 0.2s ease-in 0s;
}
img {
   width: 30px;
   padding-right: 10px;
}
#company {
   font-weight: bolder;
}